@{
    ViewBag.Title = "Index";
}

<h2 class="text-center" style="color: #845763; margin-top: 20px;">Bun venit Administrator! </h2>
<h3 class="text-center" style="color: #845763; opacity: 0.8;"> Alege sectiunea pe care doresti sa o administrezi </h3>
<br />

<div class="d-flex justify-content-center flex-wrap" style="gap: 15px;">

    <a class="btn btn-lg"
       style="background-color: #92E4BA; border-color: #90C67F; color: #845763; font-weight: 500;"
       href="/Administrators/Index"> Utilizatori </a>

    <a class="btn btn-lg"
       style="background-color: #92E4BA; border-color: #90C67F; color: #845763; font-weight: 500;"
       href="/Posts/Index"> Postari </a>

    <a class="btn btn-lg"
       style="background-color: #92E4BA; border-color: #90C67F; color: #845763; font-weight: 500;"
       href="/Comments/Index"> Comentarii </a>

    <a class="btn btn-lg"
       style="background-color: #92E4BA; border-color: #90C67F; color: #845763; font-weight: 500;"
       href="/Groups/Index"> Grupuri </a>

    <a class="btn btn-lg"
       style="background-color: #92E4BA; border-color: #90C67F; color: #845763; font-weight: 500;"
       href="/Messages/Index"> Mesaje </a>
</div>

<br />