@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Bun venit Administrator! </h2>
<h3 class="text-center"> Alege sectiune pe care doresti sa o administrezi </h3>
<br />

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Administrators/Index"> Utilizatori </a>
    <br />
    <a class="btn btn-outline-success" href="/Posts/Index"> Postari </a>
    <br />
    <a class="btn btn-outline-success" href="/Comments/Index"> Comentarii </a>
    <br />
    <a class="btn btn-outline-success" href="/Groups/Index"> Grupuri </a>
    <br />
    <a class="btn btn-outline-success" href="/Messages/Index"> Mesaje </a>
    <br /> 
</div>

<br />










