html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* code adaugat de mine*/

body {
   
    background-color: #F8F6F7;
    margin-bottom: 60px;
}

.navbar.bg-white, .navbar {
    background-color: #845763 !important;
    border-color: #845763 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) !important;
}

.navbar-brand,
.navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #92E4BA !important;
    font-weight: 500;
}

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #90C67F !important;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #E491A6 !important;
    }

.navbar-toggler-icon {
    filter: invert(1);
    background-color: #92E4BA;
}

.footer {
    background-color: #90C67F !important;
    color: #845763 !important;
    border-top: 1px solid #92E4BA !important;
}

    .footer a {
        color: #845763 !important;
        font-weight: 500;
    }

        .footer a:hover {
            color: #E491A6 !important;
        }